@model SmartCitizenDemo.Models.Client

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Client</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="HolderName" class="control-label"></label>
                <input asp-for="HolderName" class="form-control" />
                <span asp-validation-for="HolderName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FatherOrHusbandName" class="control-label"></label>
                <input asp-for="FatherOrHusbandName" class="form-control" />
                <span asp-validation-for="FatherOrHusbandName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotherName" class="control-label"></label>
                <input asp-for="MotherName" class="form-control" />
                <span asp-validation-for="MotherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NIDNumber" class="control-label"></label>
                <input asp-for="NIDNumber" class="form-control" />
                <span asp-validation-for="NIDNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoldingNumber" class="control-label"></label>
                <input asp-for="HoldingNumber" class="form-control" />
                <span asp-validation-for="HoldingNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WardNumber" class="control-label"></label>
                <input asp-for="WardNumber" class="form-control" />
                <span asp-validation-for="WardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Village" class="control-label"></label>
                <input asp-for="Village" class="form-control" />
                <span asp-validation-for="Village" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
